form { 
    display: table;
}

p {
    display: table-row;
}

label { 
    display: table-cell;  
    color: #efe;
}

input { 
    display: table-cell;
    border: 0px solid black;
}

body {
    overflow-x: hidden;
    background-color: #222;
    margin: 0px;
    padding: 0px;
}

.greentext {
    color: #789922;
}

.image {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    width: 175px;
    height: auto;
}

.post {
    vertical-align: left;
    min-width: 10%;
    max-width: 75%;
    width: 500px;
    -moz-border-radius: 3px;
    border-radius: 0px;
    vertical-align: top;
    background-color: #333;
    padding: 15px;
    position: relative;
    left: 30px;
    margin: 5px;
    display: inline-block;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px;
    white-space: nowrap;
}

.op {
    min-width: 10%;
    max-width: 75%;
    width: 700px;
   -moz-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em;
    vertical-align: top;
    padding: 20px;
    background: inherit;
    border-radius: 0px;
    display: inline-block;
}

#bannerBox {
    margin: 0px;
    padding: 0px;
    background: #222; 
    border-radius: 0px;
    border: 0px solid #111;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}

hr {
    height: 12px;
    border: 0px solid black;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
.mono {
 	font-size: 22px; 
    text-decoration: none;
    padding:10px;
    background: #333;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px;
}
